<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">

<% include ../partials/headAdmin.ejs %>
    <div class="row">
        <div class="col-md-2">
            <% include ../partials/leftBarAdmin.ejs %>
        </div>
        <div class="col-md-10">
            <div class="edit-member" id="logreg-forms">
                <h3>Reset Password :
                    <%=user.firstname %>
                </h3>
                <form action="/admin/resetPassword/<%= user.id%>" method="post" class="form-signup" autocomplete="off">
                    <input type="password" id="user-pass" class="form-control" placeholder="Password must be at least 6 characters" name="password">

                    <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" name="password2">

                    <div class="form-group">
                        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
                        <a href='/admin' id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
                    </div>

                </form>


            </div>
        </div>
        </body>

        </html>