
            <div class="col"></div>
        </div>
    </div>
    <% include addQuestion.ejs %>
    <script type="text/javascript">
        $(function(){
            $('.topic-link').filter(function(){return this.href==location.href}).parent().addClass('link-active').siblings().removeClass('link-active')
            $('.topic-link').click(function(){
                $(this).parent().addClass('link-active').siblings().removeClass('link-active')	
            })
        });
        $(function(){
            $('.nav-link').filter(function(){return this.href==location.href}).addClass('nav-active').parent().siblings().children().removeClass('nav-active')
            $('.nav-link').click(function(){
                $(this).addClass('nav-active').parent().siblings().children().removeClass('nav-active')	
            })
        })
        
        var allEditors = document.querySelectorAll( '.ansEditor' );
        allEditors.forEach((editor)=>{
            ClassicEditor.create(editor);
        });
            
        </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>