</div>
</div>
<% include addQuestion.ejs %>
    <script type="text/javascript">
        $(function() {
            $('.topicFollowArea').children().click(function() {
                var userId = $(this).attr('userId');
                var action = $(this).attr('value');
                var topicId = $(this).parent().attr('id');
                $.ajax({
                    type: "GET",
                    url: window.location.origin + "/topic/" + topicId + "/" + userId + "/" + action,
                    async: false,
                    success: function(follow) {
                        if (follow.status === "Unfollow") {
                            $("#topicIcon" + topicId).removeClass("fa fa-plus-circle answer-icon").addClass("fas fa-times-circle");
                            $("#topicLabel" + topicId).text(follow.status);
                            $("#topicFollowNumber" + topicId).text(follow.count);
                            $("#topicFollowArea" + topicId).attr('value', follow.status);
                        }
                        if (follow.status === "Follow") {
                            $("#topicIcon" + topicId).removeClass("fas fa-times-circle").addClass("fa fa-plus-circle answer-icon");
                            $("#topicLabel" + topicId).text(follow.status);
                            $("#topicFollowNumber" + topicId).text(follow.count);
                            $("#topicFollowArea" + topicId).attr('value', follow.status);
                        }
                    }
                });
            });
        });
        $(function() {
            $('.voteArea').children().click(function() {
                var questionId = $(this).parent().children().filter(".likebtn").attr('id');
                var userId = $(this).parent().attr('id');
                var action = $(this).attr('value');
                var numberUpvote = "votenumber" + questionId;
                var follownumber = "follownumber" + questionId;
                $.ajax({
                    type: "GET",
                    url: window.location + "/" + questionId + "/" + userId + "/" + action,
                    async: false,
                    success: function(vote) {
                        console.log(vote.status);
                        if (vote.status === "Downvote") {
                            $("#" + questionId + " > span").removeClass("fas fa-thumbs-up answer-icon").addClass("fas fa-thumbs-down");
                            $("#" + questionId + " > strong").text(vote.status);
                            $("#" + numberUpvote).text(vote.voteCount);
                            $("#" + questionId).attr('value', vote.status);
                        }
                        if (vote.status === "Upvote") {
                            $("#" + questionId + " > span").removeClass("fas fa-thumbs-down").addClass("fas fa-thumbs-up answer-icon");
                            $("#" + questionId + " > strong").text(vote.status);
                            $("#" + numberUpvote).text(vote.voteCount);
                            $("#" + questionId).attr('value', vote.status);
                        }
                        if (vote.status === "Unfollow") {
                            $("#follow" + questionId + " > span").removeClass("fa fa-plus-circle answer-icon").addClass("fas fa-times-circle");
                            $("#follow" + questionId + " > strong").text(vote.status);
                            $("#" + follownumber).text(vote.voteCount);
                            $("#follow" + questionId).attr('value', vote.status);
                        }
                        if (vote.status === "Follow") {
                            $("#follow" + questionId + " > span").removeClass("fas fa-times-circle").addClass("fa fa-plus-circle answer-icon");
                            $("#follow" + questionId + " > strong").text(vote.status);
                            $("#" + follownumber).text(vote.voteCount);
                            $("#follow" + questionId).attr('value', vote.status);
                        }
                    }
                });
            });
        });
        $(function() {
            $('.topic-link').filter(function() {
                return this.href == location.href
            }).parent().addClass('link-active').siblings().removeClass('link-active')
            $('.topic-link').click(function() {
                $(this).parent().addClass('link-active').siblings().removeClass('link-active')
            })
        });
        $(function() {
            $('.nav-link').filter(function() {
                return this.href == location.href
            }).addClass('nav-active').parent().siblings().children().removeClass('nav-active')
            $('.nav-link').click(function() {
                $(this).addClass('nav-active').parent().siblings().children().removeClass('nav-active')
            })
        })

        var allEditors = document.querySelectorAll('.ansEditor');
        allEditors.forEach((editor) => {
            ClassicEditor.create(editor);
        });

        function backToProfile() {
            var x = document.getElementById("userProfile");
            var y = document.getElementById("userResetpassword");
            x.style.display = "block";
            y.style.display = "none";
        }

        function myFunctionReset() {
            var x = document.getElementById("userProfile");
            var y = document.getElementById("userResetpassword");
            if (y.style.display === "block") {
                y.style.display = "none";
                x.style.display = "none";
            } else {
                y.style.display = "block";
                x.style.display = "none";
            }
        };
        // vars
        let result = document.querySelector('.result'),
            img_result = document.querySelector('.img-result'),
            img_w = document.querySelector('.img-w'),
            img_h = document.querySelector('.img-h'),
            options = document.querySelector('.options'),
            save = document.querySelector('.save'),
            cropped = document.querySelector('.cropped'),
            upload = document.querySelector('#file-input'),
            up = document.querySelector('.up'),
            cropper = '';

        // on change show image with crop options
        if(upload){
        upload.addEventListener('change', (e) => {
            if (e.target.files.length) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    if (e.target.result) {
                        let img = document.createElement('img');
                        img.id = 'image';
                        img.src = e.target.result
                        result.innerHTML = '';
                        // append new image
                        result.appendChild(img);
                        save.classList.remove('hide');
                        options.classList.remove('hide');
                        cropper = new Cropper(img);
                        console.log(img)
                    }
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        });
    }
        // save on click
        if(save){
            console.log('test');
        save.addEventListener('click', (e) => {
            e.preventDefault();
            console.log('test2');
            // get result to data uri
            let imgSrc = cropper.getCroppedCanvas({
                width: img_w.value // input value
            }).toDataURL();
            // remove hide class of img
            cropped.classList.remove('hide');
            img_result.classList.remove('hide');
            // show image cropped
            cropped.src = imgSrc;
            up.setAttribute('href', imgSrc);
        })
    }
        $(function() {
            $('.owl-carousel').owlCarousel({
                margin: 10,
                nav: false,
                dots: false,
                autoWidth: true,
                responsive: {
                    0: {
                        items: 10
                    },
                    600: {
                        items: 10
                    }
                }
            })
        });
    </script>
    </script>
    <script src="/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

    </html>