<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage page</title>
    <!-- BOOTSTRAP STYLES-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleAdmin.css" />
    <script>
        $(document).ready(function() {
            // Configure/customize these variables.
            var showChar = 100; // How many characters are shown by default
            var ellipsestext = "...";
            var moretext = "more >";
            var lesstext = "less";
            $('.more').each(function() {
                var content = $(this).html();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }

            });

            $(".morelink").click(function() {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });

        });
        //
        getPagination('#table-id');


        function getPagination(table) {

            var lastPage = 1;

            $('#maxRows').on('change', function(evt) {
                //$('.paginationprev').html('');						// reset pagination 


                lastPage = 1;
                $('.pagination').find("li").slice(1, -1).remove();
                var trnum = 0; // reset tr counter 
                var maxRows = parseInt($(this).val()); // get Max Rows from select option

                if (maxRows == 5000) {

                    $('.pagination').hide();
                } else {

                    $('.pagination').show();
                }

                var totalRows = $(table + ' tbody tr').length; // numbers of rows 
                $(table + ' tr:gt(0)').each(function() { // each TR in  table and not the header
                    trnum++; // Start Counter 
                    if (trnum > maxRows) { // if tr number gt maxRows

                        $(this).hide(); // fade it out 
                    }
                    if (trnum <= maxRows) {
                        $(this).show();
                    } // else fade in Important in case if it ..
                }); //  was fade out to fade it in 
                if (totalRows > maxRows) { // if tr total rows gt max rows option
                    var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..  
                    //	numbers of pages 
                    for (var i = 1; i <= pagenum;) { // for each page append pagination li 
                        $('.pagination #prev').before('<li data-page="' + i + '">\
                                  <span>' + i++ + '<span class="sr-only">(current)</span></span>\
                                </li>').show();
                    } // end for i 
                } // end if row count > max rows
                $('.pagination [data-page="1"]').addClass('active'); // add active class to the first li 
                $('.pagination li').on('click', function(evt) { // on click each page
                    evt.stopImmediatePropagation();
                    evt.preventDefault();
                    var pageNum = $(this).attr('data-page'); // get it's number

                    var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option

                    if (pageNum == "prev") {
                        if (lastPage == 1) {
                            return;
                        }
                        pageNum = --lastPage;
                    }
                    if (pageNum == "next") {
                        if (lastPage == ($('.pagination li').length - 2)) {
                            return;
                        }
                        pageNum = ++lastPage;
                    }

                    lastPage = pageNum;
                    var trIndex = 0; // reset tr counter
                    $('.pagination li').removeClass('active'); // remove active class from all li 
                    $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked 
                    // $(this).addClass('active');					// add active class to the clicked 
                    $(table + ' tr:gt(0)').each(function() { // each tr in table not the header
                        trIndex++; // tr index counter 
                        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        } //else fade in 
                    }); // end of for each tr in table
                }); // end of on click pagination list

            }).val(5).change();

        }
        // $(function() {
        //     // Just to append id number for each row  
        //     $('table tr:eq(0)').prepend('<th> ID </th>')

        //     var id = 0;

        //     $('table tr:gt(0)').each(function() {
        //         id++
        //         $(this).prepend('<td>' + id + '</td>');
        //     });
        // })

        //  Developed By Yasser Mas 
        // yasser.mas2@gmail.com
    </script>
</head>

<body>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="navbar-brand logo-admin" href="/feed">Q&A</a>

            <a class="flex-sm-fill text-sm-center nav-link" href="/admin">Users</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="/admin/posts">Questions</a
        >
        <a class="flex-sm-fill text-sm-center nav-link" href="/admin/answers">Answers</a
          >
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Reports</a>
            <a class="flex-sm-fill text-sm-center nav-link" id="logoutAdmin" href="/logout"><i class="fa fa-sign-out"></i></a>
        </div>
    </nav>