<div class="col col-lg-2">
    <ul class="list-unstyled">
        <li class="media">
            <a class="topic-link" href="/feed">
                <img class="mr-2 topic-image" src="/images/feed.png" alt="Feed" />
                <span class="media-body">
                    <p class="mt-0 mb-1 topic-title fs-13"> Feed</p>
                </span>
            </a>
        </li>
        <% topics.forEach((topic)=>{ %>
            <li class="media">
                <a class="topic-link" href="/topic/<%= topic._id %>">
                        <img
                            class="mr-2 topic-image"
                            src="<%= topic.image %>"
                            alt="<%= topic.title %>"
                        />
                        <span class="media-body">
                            <p class="mt-0 mb-1 topic-title fs-13"><%= topic.title %></p>
                        </span>
                    </a>
            </li>
            <% }) %>
    </ul>
</div>