<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <style>
        .button-register {
            background-color: #507cc0;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 140px;
            border-radius: 5px;
        }
        
        form {
            background-color: #CD5C5C;
            width: 300px;
            margin: auto;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="signupForm">
            <div class="logo"><img src="/images/logo.png"></div>
            <div class="tagline">
                <h3>
                    <br>The best answer to any question<br>
                </h3>
                <% include ./partials/messages %>

            </div>
            <div><strong><br>Forgot Password</strong>
                <form action="/forgot" method="POST">
                    <input type="text" name="email" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>">
                    <br>
                    <button class="button-register">Reset Password</button>
                </form>
            </div>
            <div class="footerNav"></div>
        </div>
    </div>
</body>

</html>