<!DOCTYPE html>
<% include partials/headerLogin.ejs %>
    <div id="logreg-forms" onload="document.formEmail.email.focus()">
        <form class="form-signin" action="/login" method="post" name="formEmail" onsubmit="return ValidateEmail()">
            <% include ./partials/messages %>
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
                <div class="social-login">
                    <button onclick="window.location.href='/auth/google'" class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
                </div>
                <p style="text-align:center"> OR </p>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">

                <button class="btn btn-success btn-block" type="submit" onclick="return ValidateEmail(document.formEmail.email);"><i class="fas fa-sign-in-alt"></i> Sign in</button>
                <a href="/forgot" id="forgot_pswd">Forgot password?</a>
                <hr>

                <button onclick="window.location.href='/register'" class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New Account</button>
                <p class="policy">
                    By <strong>signing up</strong> you indicate that you have read and agree to the Terms of Service and Privacy Policy.
                </p>

        </form>


    </div>
    <% include partials/footerLogin.ejs %>