<% include partials/headerLogin.ejs %>
    <div id="logreg-forms">
        <form action="/register" method="post" class="form-signin">
            <% include ./partials/messages %>
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign Up</h1>
                <div class="social-login">
                    <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
                    <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
                </div>

                <p style="text-align:center">OR</p>
                <input width="25px" type="text" id="user-name" class="form-control" placeholder="First name" name="firstname" required="" autofocus="">
                <input width="25px" type="text" id="user-name2" class="form-control" placeholder="Last name" name="lastname" required="" autofocus="">
                <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="" name="email">
                <input type="password" id="user-pass" class="form-control" placeholder="Password must be at least 6 characters" required autofocus="" name="password">

                <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="" name="password2">
                <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
                <p class="havecount">Have an account?</p><a style="color:dodgerblue " href="/login"><strong>Login!</strong></a>
        </form>
    </div>
    <% include partials/footerLogin.ejs %>