<% include partials/headerLogin.ejs %>
    <div id="logreg-forms">
        <form action="/reset/<%= token %>" method="POST" class="form-reset">
            <% include ./partials/messages %>
                <input type="password" id="user-pass" class="form-control" placeholder="Password must be at least 6 characters" required autofocus="" name="password">
                <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="" name="confirm">
                <button class="btn btn-primary btn-block" type="submit">Done</button>
                <a href="/login" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
        </form>
    </div>
    <% include partials/footerLogin.ejs %>