
<img
  class="mr-2 topic-image"
  src="<%= topic.image %>"
  alt="<%= topic.title %>"
/>
<div class="media-body">
  <p class="mt-0 mb-1 topic-title"><%= topic.title %></p>
</div>
<% include partials/footer.ejs %>
