body{
    background:#fafafa;
}
*:focus {
    outline: none !important;
    border-color: transparent !important;
    box-shadow:0 0 0 0 !important;
}

.w-20{
    width:20%;
}
.area{
    padding-top:80px;
}
.topic-image{
    width:auto;
    height: 25px;
    border-radius: 2px;
}

.topic-title{
    color: #666;
    margin-bottom: 0%;
    padding-top: 5px;
    font-family:Georgia;
    display:inline-block
}
.topic-link{
	width:100%;
}
.topic-link:hover{
    text-decoration: none;
}
.add-question-card{
    background:#ffff;
}
.add-ques-image{
    width:auto;
    height:25px;
    border-radius:50%;
}
.add-question-link:hover{
    text-decoration:none;
}

.custom-modal-background{
    background-color: #fafafa;
    padding: 0%;
}
.custom-modal-title{
    height: 63px;
    padding: 1rem;
}
.modal-title-active{
    color: #b92b27;
    border-bottom: 2px solid #b92b27;
}
.custom-modal-close{
    position: absolute;
    top:5%;
    right: 5%;
}

.modal-section-topic{
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-bottom: 20px;
}
.modal-section-question{
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-bottom: 20px;
}
.topic-form{
    color: #666;
    padding-left:10px;
    height: 40px;
    border: 1px solid #fafafa;
    border-radius: .2rem;
    -webkit-appearance: none; 
    -moz-appearance: none;
    background: url(../images/arrow-down.png) no-repeat right #fafafa ;
    background-position-x: 97%;
    background-size: 10px;
}

.custom-question-input{
    border:0;
    border-radius: 0;
    height:60px;
    -webkit-appearance: none; 
    padding:0;
}

.custom-question-input::-webkit-input-placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(122, 122, 122);
    overflow: visible;
}
.custom-question-input:-ms-input-placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(122, 122, 122);
    overflow: visible;
}
.custom-question-input::placeholder{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(122, 122, 122);
    overflow: visible;
}

.custom-link-input{
    border:0;
    border-radius: 0;
    height:30px;
    -webkit-appearance: none; 
    padding:0;
}
.cancel-button, .cancel-button:hover{
    background: transparent;
    border: 0;
    color: #666;
}
.cancel-button:hover{
    text-decoration: underline;
}
.modal-footer button{
    margin: 20px;
}

.add-question-button{
    background-color:rgb(62, 120, 173);
    font-weight: bold;
}

.add-question-button:hover{
    background-color: #b92b27;
    border-color: #b92b27;
}
