body {
    background: #fafafa;
}

*:focus {
    outline: none !important;
    /* border-color: transparent !important; */
    box-shadow: 0 0 0 0 !important;
}

@media (min-width: 992px) {
    .shadow-card:hover {
        -webkit-box-shadow: 0px 0px 8px 3px rgba(56, 56, 56, 0.15);
        -moz-box-shadow: 0px 0px 8px 3px rgba(56, 56, 56, 0.15);
        box-shadow: 0px 0px 8px 3px rgba(56, 56, 56, 0.15);
    }
    .border-radius-10 {
        border-radius: 10px;
    }
}

.w-20 {
    width: 20%;
}

.noti-user {
    list-style-type: none;
    margin: 0;
    padding: 0px 10px;
}

.urlNoti p {
    font-size: 8pt;
    color: #329bff;
    margin-bottom: 0rem;
    margin-left: 10%;
}

.noti-content {
    display: inline;
    font-size: 10pt;
    padding: .25rem 0.5rem;
    clear: both;
}

.show-noti {
    left: auto;
}

.imageMember {
    float: left;
    width: 30px;
    border-radius: 15px;
}

.area {
    padding-top: 80px;
}

@media (max-width: 991px) {
    .area {
        padding-top: 130px;
    }
}

.topic-image {
    width: auto;
    height: 25px;
    border-radius: 2px;
    float: left;
}

@media (max-width: 991px) {
    .topic-image {
        width: auto !important;
        padding: 2px;
        padding-bottom: 0;
        border-radius: 5px;
    }
}

.topic-title {
    color: #666;
    margin-bottom: 0% !important;
    padding-top: 5px;
    display: inline-block;
}

@media (max-width: 991px) {
    .topic-title {
        padding-bottom: 3px;
    }
}

.modal-title {
    color: #fff;
    margin-left: 10px;
    margin-bottom: 0%;
    padding: 5px;
    display: block;
    font-size: 15pt;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.modal-upload{
    background-color :#007bff;
}
.close-upload{
    color: #f3f3f8;
}
.fs-13 {
    font-size: 13px;
}

.topic-link {
    width: 100%;
    padding: 10px;
}

.user-name-link {
    text-decoration: none !important;
    color: inherit;
}

.link-active {
    background: #e6e6e6;
    border-radius: 10px;
}

@media (max-width: 991px) {
    .link-active {
        border-radius: 5px;
    }
}

.topic-link:hover {
    text-decoration: none;
}

.add-question-card {
    background: #ffff;
}

.add-ques-image {
    width: auto;
    height: 25px;
    border-radius: 50%;
}

.add-question-link:hover {
    text-decoration: none;
}

.custom-modal-background {
    background-color: #fafafa;
    padding: 0%;
}

.custom-modal-title {
    height: 63px;
    padding: 1rem;
}

.modal-title-active {
    color: #b92b27;
    border-bottom: 2px solid #b92b27;
}

.custom-modal-close {
    position: absolute;
    top: 5%;
    right: 5%;
}

.modal-section-topic {
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-bottom: 20px;
}

.modal-section-question {
    border-bottom: 1px solid rgb(226, 226, 226);
    margin-bottom: 20px;
}

.topic-form {
    color: #666;
    padding-left: 10px;
    height: 40px;
    border: 1px solid #fafafa;
    border-radius: 0.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/arrow-down.png) no-repeat right #fafafa;
    background-position-x: 97%;
    background-size: 10px;
}

.custom-question-input {
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 25px;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
}

.custom-question-input::-webkit-input-placeholder {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(122, 122, 122);
}

.custom-question-input:-ms-input-placeholder {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(122, 122, 122);
}

.custom-question-input::placeholder {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(122, 122, 122);
}

.custom-link-input {
    border: 0;
    border-radius: 0;
    height: 30px;
    -webkit-appearance: none;
    padding: 0;
}

.cancel-button,
.cancel-button:hover {
    background: transparent;
    border: 0;
    color: #666;
}

.cancel-button:hover {
    text-decoration: underline;
}

.modal-footer button {
    margin: 20px;
}

.add-question-button {
    background-color: rgb(62, 120, 173);
    border-color: rgb(62, 120, 173);
    font-weight: bold;
}

.add-question-button:hover {
    background-color: #b92b27;
    border-color: #b92b27;
}

.question-topic {
    margin: 0;
    font-size: 13px;
    color: #949494;
}

.question-title {
    font-size: 1.5rem;
    width: 100%;
    color: #333;
    margin-bottom: 10px;
    padding-top: 5px;
    font-family: Georgia;
    display: inline-block;
}

.question-more-info p {
    margin-bottom: 5px;
    color: #949494;
}

.upvote-follow {
    margin-bottom: 5px;
    color: #949494;
}

.number-answer-link {
    text-decoration: none;
    color: #949494;
}

.number-answer-link:hover {
    text-decoration: none;
    color: #949494;
    border-bottom: 1px solid #949494;
    border-bottom: 1px solid;
}

.answer-button {
    text-decoration: none;
    color: rgb(92, 92, 92);
    font-size: 15px;
    padding: 0;
}

.answer-button:hover {
    text-decoration: none;
    color: #329bff;
}

.upvote-follow {
    color: #949494;
}

.answer-icon {
    font-size: 15px;
    color: #329bff;
}

.question-card {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.add-ans-image {
    width: auto;
    height: 40px;
    border-radius: 50%;
    padding-right: 5px;
    float: left;
}

.user-info {
    width: inherit;
    display: inline-block;
}

.ansForm,
.ansForm textarea {
    min-height: 200px;
}

.add-ans-card {
    min-height: 200px;
}

.card-answer-detais {
    padding: 30px;
}

.answer-detais-question {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 26px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.answer-detais-question-link:hover {
    text-decoration: none;
}

.answer-detais-user-info {
    padding-bottom: 20px;
}

.answer-time {
    color: #949494;
    font: 13px;
}

.more-options-button {
    text-decoration: none;
    color: inherit;
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 20px;
}

.restore-answer-form {
    display: inline;
}

.restore-answer-form button {
    padding: 0;
    float: right;
}

.more-options a {
    text-decoration: none;
    color: inherit;
    float: right;
}

.more-options {
    width: 100%;
}

.question-more-options {
    float: right;
    color: inherit;
}

.question-more-options {
    float: right;
    color: inherit;
}

.restore-question-form {
    float: right;
    max-height: 24px;
    padding: 0;
}

.restore-question-form button {
    max-height: 24px;
    padding: 0;
    float: right;
}

@media (max-width: 992px) {
    .mt-negative-40 {
        margin-top: -40px;
    }
}

@media (max-width: 600px) {
    .w-20-mobile {
        width: 33.33%;
    }
    .user-area button {
        float: right;
    }
    .question-btn {
        margin-left: 0;
    }
    .modal-title {
        font-size: 18px;
    }
    .question-title {
        font-size: 20px;
    }
    .hintLabel {
        font-size: 12px;
    }
    .topic-form {
        width: 80px;
    }
    .custom-question-input {
        font-size: 20px;
    }
    .custom-question-input::-webkit-input-placeholder {
        font-size: 20px;
    }
    .custom-question-input:-ms-input-placeholder {
        font-size: 20px;
    }
    .custom-question-input::placeholder {
        font-size: 20px;
    }
    .alert {
        font-size: 15px;
    }
    .alert button {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .alert {
        font-size: 11px;
    }
    .alert button {
        font-size: 11px;
    }
    .custom-question-input {
        font-size: 15px;
    }
    .custom-question-input::-webkit-input-placeholder {
        font-size: 15px;
    }
    .custom-question-input:-ms-input-placeholder {
        font-size: 15px;
    }
    .custom-question-input::placeholder {
        font-size: 15px;
    }
}