.left {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: arial;
}

.main-profile {
    position: relative;
}

.option-reset {
    margin-top: 20px;
}
#loadingAvatar{
display: none;
}
.photo {
    width: 150px;
    height: 150px;
    margin-top: -100px;
    border-radius: 100px;
    border: 4px solid #fff;
    -webkit-appearance: none !important;
}

.user-active {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    right: calc(50% - 70px);
    top: 25px;
    background-color: #ffc107;
    border: 3px solid #fff;
}

.name {
    margin-top: 20px;
    font-family: "Open Sans";
    font-weight: 600;
    color: black;
}

.info {
    margin-top: -5px;
    margin-bottom: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 11pt;
    color: #aaa;
}

.stats {
    padding: 0;
    display: inline-block;
    margin-top: 25px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.number-stat {
    padding: 0px;
    font-size: 12pt;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: rgb(25, 23, 23);
}

.desc-stat {
    margin-top: -15px;
    font-size: 10pt;
    color: #007bff;
}

#userResetpassword {
    display: none;
}

.user-profile {
    background-color: #007bff;
    border-radius: 3px;
}

.first-nav {
    color: #fff;
    padding: 5px;
}

#user-name {
    color: #999;
    margin-bottom: 10px;
}

.first-name {
    margin-bottom: 1px;
}

#user-name2 {
    color: #999;
    margin-bottom: 10px;
}

.last-name {
    margin-bottom: 1px;
}

.email {
    margin-bottom: 1px;
}

#user-email {
    color: #999;
    margin-bottom: 10px;
}

.user-update {
    background-color: #007bff !important;
    color: #fff !important;
}

.form-avatar {
    top: 60px;
}

.right {
    margin-top: 10px;
    margin-left: 20px;
    height: 300px;
    padding: 0 25px 0 25px !important;
    font: arial;
}

.button-upload {
    font-size: 8pt !important;
}

.user-nav {
    display: inline-flex;
}

.user-nav li {
    margin: 40px 30px 0 10px;
    cursor: pointer;
    font-size: 13pt;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #888;
    list-style-type: none;
}

.user-nav li:hover,
.user-nav li:nth-child(1) {
    color: #999;
    border-bottom: 2px solid #999;
}

.edit {
    top: 35px;
    font-size: 11pt;
    background-color: #007bff;
    color: #fff;
    padding: 3px 5px;
    cursor: pointer;
    transition: all 0.4s;
    font-family: "Montserrat", sans-serif;
    border-radius: 3px;
}

.button-option {
    margin-top: 10px;
}

.edit:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
}
#userCropAvatar{
    display: none;
}
@media (max-width: 990px) {
    .user-nav {
        display: none;
    }
}
#userCropAvatar{
    display: none;
}
.profile-topic-img {
    width: auto;
    height: 50px;
}

@media (max-width: 991px) {
    .edit {
        text-align: center;
        margin-left: 0;
        width: 200px
    }
    .head {
        text-align: center;
    }
    .name {
        margin-top: 10px;
    }
    .stats {
        text-align: center;
    }
    .profile-infor-area {
        justify-content: center;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

.profile-topic-img {
    width: auto;
    height: 50px;
}

.profile-topic-title {}

.result {
    display: inline-block;
    width: 50%;
}

.img-result {
    height: auto;
    width: 40%;
    display: inline-block;
    float: right;
}

.cropped {
    height: auto;
    width: 100%;
    display: inline-block;
}

.box {
    padding: 0.5em;
    width: 100%;
    margin: 0.5em;
}

.box-2 {
    padding: 0.5em;
}

.options label,
.options input {
    width: 4em;
    padding: 0.5em 0.5em;
}

.btn-upload {
    background: white;
    color: black;
    border: 1px solid black;
    padding: 0.5em 1em;
    text-decoration: none;
    margin: 0.8em 0.3em;
    display: inline-block;
    cursor: pointer;
}

.hide {
    display: none;
}

img {
    max-width: 100%;
}