body {
    background-color: #fff;
    font: arial;
}

.content-topic {
    margin-top: 50px;
    background-color: #fff;
}

.container-all {
    margin-top:50px;
    background-color: #fff;
    max-width: 700px;
    border: black;
}

.instruc {
    width: 100%;
    z-index: 9999;
    font-weight: bold;
    position: fixed;
    top: 15px;
    font-size: 1.25rem;
    color: #b92b27;
    text-align: center;
}

.check-choose {
    position: absolute;
    top: 2%;
    left: 0;
    display: block;
    width: 4.5rem !important;
    height: 4.5rem !important;
}

.choose-one {
    position: absolute;
    top: 5%;
    display: inline-block;
    margin-left: 1px;
}

.next-feed {
    font-size: 10pt;
    border: 0;
    background-color: #b92b27;
    color: #fff;
    border-radius: 3px;
    float: right;
}

img {
    max-width: 100%;
}

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 8 */
    filter: alpha(opacity=50);
    /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}


/* Container */

.image-topic {
    max-width: 120px;
    height: auto;
}

.topic {
    margin-top: 10px;
}

.head-favo {
    background-color: #b92b27;
    text-align: center;
}

.head-favo h3 {
    color: #ffffff;
}

.head-favo p {
    color: #ffffff;
}

.topic {
    width: 18.2799% !important;
}


/* Thumbnail Box */

.caption h4 {
    font-size: 1rem;
    color: #444;
}

.caption p {
    font-size: 0.75rem;
    color: #999;
}

.btn.btn-mini {
    font-size: 0.63rem;
}


/* Carousel Control */

.control-box {
    text-align: right;
    width: 100%;
}

.carousel-control {
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 1px 15px 0px;
    position: static;
    height: 30px;
    width: 15px;
}


/* Footer */

.footer {
    margin: auto;
    width: 100%;
    max-width: 960px;
    display: block;
    font-size: 0.69rem;
}

.footer,
.footer a {
    color: #c9e4f7;
}

p.right {
    float: right;
}

@media (max-width: 767px) {
    .page-header,
    .control-box {
        text-align: center;
    }
}

@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


/* ADD-ON
-------------------------------------------------- */

body:after {
    font-size: 1rem;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: hsla(1, 60%, 40%, 0.7);
    color: #fff;
    height: 20px;
    padding-top: 0;
    margin-left: 0;
    left: 0;
}

@media only screen and (min-width: 320px) {
    body:after {
        background-color: hsla(90, 60%, 40%, 0.7);
        height: 20px;
        padding-top: 0;
        margin-left: 0;
    }
}

@media only screen and (min-width: 480px) {
    body:after {
        background-color: hsla(180, 60%, 40%, 0.7);
        height: 20px;
        padding-top: 0;
        margin-left: 0;
    }
}

@media only screen and (min-width: 768px) {
    body:after {
        background-color: hsla(270, 60%, 40%, 0.7);
        height: 20px;
        padding-top: 0;
        margin-left: 0;
    }
}

@media only screen and (min-width: 980px) {
    body:after {
        background-color: hsla(300, 60%, 40%, 0.7);
        height: 20px;
        padding-top: 0;
        margin-left: 0;
    }
}

@media only screen and (min-width: 1024px) {
     ::selection {
        background: #ff5e99;
        color: #ffffff;
        text-shadow: 0;
    }
     ::-moz-selection {
        background: #ff5e99;
        color: #ffffff;
    }
    a,
    a:focus,
    a:active,
    a:hover,
    object,
    embed {
        outline: none;
    }
     :-moz-any-link:focus {
        outline: none;
    }
    input::-moz-focus-inner {
        border: 0;
    }
}