.w3-modal {
    margin: auto;
}

.head-admin {
    background-color: #d0f1e3 !important;
}
/* show hide .... */
.morecontent span {
    display: none;
}
.search-admin{
    background-color: #007bff !important;
}
.b-search{
    border: 0;
    border-radius: 2px;
    padding: 5px;
}
.head-chil {
   display: inline;
}
.create-user {
    margin-top:20px;
    padding-left: 22px;
}
/* #logoutAdmin{
    margin-left: 70% !important;
} */
.name-user{
    text-align: center;
}
.list-user{
    padding: 20px 20px 20px 40px;

}
.footer-admin{
    padding: 20px;
}

.add-member {
    border-radius: 5px;
}

.logo-admin {
    font-size: 20pt;
    font-weight: bold;
    margin-left: 20px;
    color: #c04240 !important;
}

.form-signup {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: auto;
}
.more-ans{
    display: block;
    background-color: lightblue;
  height: 70px;
  overflow-y: scroll;
}
.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-top: 4px;
}

.formcontrol :focus {
    z-index: 2;
}
.edit-admin{
    background-color: #d0f1e3 !important;
}
#user-name {
    width: 49%;
    float: left;
    margin-bottom: 4px;
}
.modal-create{
    margin-left: 12px;
}

#user-name2 {
    width: 49%;
    float: right;
}

button[type="submit"] {
    margin-top: 10px;
}

.w3-teal {
    background-color: #c04240 !important;
}